html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo {
  border: 1px solid #fff;
  padding: 3px 5px;
}
.logo .logo-link {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
.logo:hover {
  border: 1px solid yellow;
}
.logo:hover .logo-link {
  color: yellow;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -230px;
}

.push {
  height: 230px;
}

footer.footer {
  background-color: #263238;
  color: #fff;
  width: 100%;
  height: 30px;
  z-index: 9999;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #fff;
  text-align: center;
}
.footer-logo-link {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
}
.menu li {
  display: block;
  margin: 12px;
}
.menu .menu-link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  padding: 2px;
}
